* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.editIcon,
.deleteIcon,
.doneIcon,
i {
  cursor: pointer;
}

h2 {
  font-size: 1.5rem;
}

.titleAndSubt, 
.formContainer,
.newTaskForm,
.activitiesList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskToListBtn {
  background-color: #F2E205;
}

.activityCard {
  background-color: #ee8a83;
  border-color: #6B2D28;
  color: #461c1a;
}

.activityCardTaskDone {
  background-color: #95F768;
  border-color: #68AD49;
  color: #234d10;
}

.activityCard,
.activityCardTaskDone {
  border-radius: 4px;
  border: 1px solid;
  width: 80vw;
  height: 50px;
}

.cardTextInfo {
  padding-left: 24px;
}

.cardIcons {
  padding-right: 24px;
}

.taskInputField {
  border-radius: 4px;
  border: 1px solid;
  border-color: lightgrey;
  width: 60vw;
}

@media (max-width: 425px) {
  .activityCard {
    min-height: 65px;
    height: auto;
    width: 90vw;
  }

  .cardTextInfo {
    font-size: 0.8rem;
    padding-left: 12px;
  }

  .activityStatus {
    display: flex;
    justify-content: space-around;
  }

  .cardIcons {
    display: flex;
    flex-direction: row;
    padding-right: 12px;
  }
}