* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.titleAndSubt, 
.formContainer,
.newTaskForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskToListBtn {
  background-color: #F2E205;
}